.pageHeader{
    text-align: center;

}

.group {
display: flex;
flex-wrap: wrap;
justify-content:space-evenly;
text-align: center;

}
 .shop {
text-align: ;
flex-basis: 25%;
border: 1px dashed;
padding: .15em;
margin: 0em;
text-align: left;
background-color:burlywood;
   }
 